:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 452px;
    height: 94px;
    margin: 0 auto;
  }
  .rectangle {
    position: absolute;
    width: 452px;
    height: 94px;
    top: 0;
    left: 0;
    background: #000000;
  }
  .presentation-board {
    position: absolute;
    width: 21px;
    height: 23px;
    top: 29px;
    left: 272px;
    z-index: 11;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 14.625px;
    height: 7.25px;
    margin: 5px 0 0 3.188px;
    background: url(../assets/images/cd153370-e6fb-4857-a1cc-9c23d9c9111d.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 12;
  }
  .folder-hold {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 176px;
    z-index: 13;
    overflow: hidden;
  }
  .vector-1 {
    position: relative;
    width: 20px;
    height: 16.375px;
    margin: 0 0 0 0;
    background: url(../assets/images/babfcbf2-1f37-4ba2-bd9c-4fd7841eff1e.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 14;
  }
  .user-circle-alt {
    position: absolute;
    width: 12.5px;
    height: 16.8px;
    top: 30.2px;
    left: 372.5px;
    z-index: 8;
  }
  .vector-2 {
    position: relative;
    width: 9.5px;
    height: 8.952px;
    margin: -1px 0 0 1.504px;
    background: url(../assets/images/54455ab1-493b-4267-9cb0-e8af466b3dd5.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 10;
  }
  .vector-3 {
    position: relative;
    width: 14.5px;
    height: 8.952px;
    margin: 0.9px 0 0 -1px;
    background: url(../assets/images/219c03d4-6bd4-43e7-97a2-f9e2666c641b.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .home {
    position: absolute;
    width: 15px;
    height: 16px;
    top: 31px;
    left: 69px;
    z-index: 5;
  }
  .vector-4 {
    position: relative;
    width: 17px;
    height: 9px;
    margin: -1px 0 0 -1px;
    background: url(../assets/images/d3eb17f7-11f6-471d-a935-51307521d7ed.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 6;
  }
  .vector-5 {
    position: relative;
    width: 16.777px;
    height: 10.313px;
    margin: -1.312px 0 0 -0.89px;
    background: url(../assets/images/5ef3ac69-251a-4a0b-b01e-3221c29e0b34.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
  }
  .home-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 55px;
    left: 64px;
    color: #ebf0ff;
    font-family: Poppins, var(--default-font-family);
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
  }
  .portfolio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 55px;
    left: 169px;
    color: #696969;
    font-family: Poppins, var(--default-font-family);
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
  }
  .invest {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 55px;
    left: 270px;
    color: #696969;
    font-family: Poppins, var(--default-font-family);
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .account {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 55px;
    left: 361px;
    color: #696969;
    font-family: Poppins, var(--default-font-family);
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  